menu "BLightESP32 Configuration"

    config DEVICE_NAME
        string "Device name"
        default "ESP_LIGHT_NODE"
        help
            Bluetooth name for device

    config ACCESS_TOKEN
        int "Access token"
        default 12345
        help
            Access token authorization for light manage

    config DB_MAX_CONNECTIONS
        int "Max DB connections size"
        default 5
        help
            Max connections to light manage (max DB connections size)

    config LEDC_COLOR_TEMP_MIN
        int "MIN color temperature"
        default 2700
        help
            Minimum color temperature for LED

    config LEDC_COLOR_TEMP_MAX
        int "MAX color temperature"
        default 6500
        help
            Maximum color temperature for LED

endmenu